.container {
  margin: 20px auto;
  width: 650px;
  padding: 0px 40px 60px 40px;
  border: 1px dotted black;
  background-color: deeppink;
}
th {
  text-align: left;
}

form {
  margin: 18px 0 0 0;
  padding: 10px;
  background: black;
}

form input {
  color: deeppink;
  margin: 0 9px 9px 9px;
}

label {
  color: deeppink;
}

#signup {
  float: right;
  width: auto;
  margin: 30px 9px 0 0;
  color: black;
}
